@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color */
  --background: #ffffff;
  --foreground: #212b36;

  --text-primary: #212b36;
  --text-secondary: #637381;
  --text-disabled: #919eab;

  --primary-main: #2065d1;
  --primary-light: #76b0f1;
  --contrastText: #ffffff;

  --info-lighter: #cafdf5;
  --info-light: #61f3f3;
  --info-main: #00b8d9;
  --info-dark: #006c9c;
  --info-darker: #003768;

  --success-lighter: #d3fcd2;
  --success-light: #77ed8b;
  --success-main: #22c55e;
  --success-dark: #118d57;
  --success-darker: #065e49;

  --warning-lighter: #fff5cc;
  --warning-light: #ffd666;
  --warning-main: #ffab00;
  --warning-dark: #b76e00;
  --warning-darker: #7a4100;
  --warning-contrastText: #ffffff;

  --error-lighter: #ffe9d5;
  --error-light: #ffac82;
  --error-main: #ff5630;
  --error-dark: #b71d18;
  --error-darker: #7a0916;

  --white: #ffffff;
  --white80: rgba(255, 255, 255, 0.8);
  --black: #000000;

  --gray100: #f9fafb;
  --gray200: #f4f6f8;
  --gray300: #dfe3e8;
  --gray400: #c4cdd5;
  --gray500: #919eab;
  --gray600: #637381;
  --gray700: #454f5b;
  --gray800: #212b36;
  --gray900: #161c24;

  /* zIndex */
  --zIndex-app-bar: 1100;
  --zIndex-layout-header: 1101;
  --zIndex-drawer: 1200;
  --zIndex-layout-nav: 1201;
  --zIndex-modal: 1300;
  --zIndex-snackbar: 1400;

  /* Width */
  --width-navbar-mini: 88px;
  --width-navbar-vertical: 300px;
  --width-navbar-bar: 1200px;
  --width-navbar-dashboard: calc(100% - 300px);
  --width-drawer-account: 320px;
  --width-drawer-settings: 360px;
  --width-drawer-navbar-vertical: 280px;

  /* Height */
  --height-mobile-header: 64px;
  --height-desktop-header: 72px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  color: var(--foreground);
  background: var(--background);
} */

.typography_h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
}

.typography_h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px;
}

.typography_h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.typography_h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.typography_h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.typography_h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.typography_subtitle1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.typography_subtitle2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.typography_body1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.typography_body2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.typography_caption {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.typography_overline {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.typography_button_large {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.typography_button_medium {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}